.app_brown_theme {
	--bg-color: #a8a8af;
	--inverted-bg-color: #9c7b2d;
	--primary-color: #045e64de;
	--secondary-color: rgb(22, 44, 22);
	--inverted-primary-color: #f9b61a;
	--inverted-secondary-color: rgb(11, 65, 116);
}