:root,
.app.dark {
    --bg-color: #090952;
    --inverted-bg-color: #a8a8af;
    --primary-color: rgb(36 167 36);
    --secondary-color: rgb(6 136 6);
    --inverted-primary-color: rgb(8 49 102);
    --inverted-secondary-color: rgb(0 105 204);
}
