:root {
    --bg-color: #d6d6dd;
    --inverted-bg-color: #090952;
    --primary-color: rgb(47 102 173);
    --secondary-color: rgb(24 84 139);
    --inverted-primary-color: rgb(6 136 6);
    --inverted-secondary-color: rgb(12 190 12);

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

      // code
      --code-bg: #fff;

        // card
    --card-bg: #9d9da1bd;
}
