:root {
	--bg-color: #a8a8af;
	--inverted-bg-color: #090952;

	--primary-color: rgb(8, 49, 102);
	--secondary-color: rgb(24, 84, 139);
	--inverted-primary-color: rgb(12, 190, 12);
	--inverted-secondary-color: rgb(6, 136, 6);
}